{% extends "layout/default.twig" %}

{% block content %}
<section class="index">
            <div class="index-demo-posts">
                <h2>Subtitle</h2>
                <div class="content">
                    <article class="one-post">
                        <img src="https://picsum.photos/100?random=1" alt="random pic">
                        <div class="content-article">
                            <h3>Blablabla</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati culpa, deleniti quibusdam voluptatum expedita fuga. Excepturi id adipisci quasi inventore delectus facere ex perspiciatis, numquam suscipit? In officia dolorem iure.</p>
                            <p><a href="#">Read more</a></p>
                        </div>
                    </article>
                    <article class="one-post">
                        <img src="https://picsum.photos/100?random=2" alt="random pic">
                        <div class="content-article">
                            <h3>Blablabla</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati culpa, deleniti quibusdam voluptatum expedita fuga. Excepturi id adipisci quasi inventore delectus facere ex perspiciatis, numquam suscipit? In officia dolorem iure.</p>
                            <p><a href="#">Read more</a></p>
                        </div>
                    </article>
                    <article class="one-post">
                        <img src="https://picsum.photos/100?random=3" alt="random pic">
                        <div class="content-article">
                            <h3>Blablabla</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati culpa, deleniti quibusdam voluptatum expedita fuga. Excepturi id adipisci quasi inventore delectus facere ex perspiciatis, numquam suscipit? In officia dolorem iure.</p>
                            <p><a href="#">Read more</a></p>
                        </div>
                    </article>
                </div>
                <p><a href="#">Voir tous les posts</a></p>
            </div>

            <div class="index-demo-beers">
                <h2>Subtitle</h2>
                <div class="content">
                    <article class="one-post">
                        <img src="https://picsum.photos/100?random=1" alt="random pic">
                        <div class="content-article">
                            <h3>Blablabla</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati culpa, deleniti quibusdam voluptatum expedita fuga. Excepturi id adipisci quasi inventore delectus facere ex perspiciatis, numquam suscipit? In officia dolorem iure.</p>
                            <p><a href="#">Read more</a></p>
                        </div>
                    </article>
                    <article class="one-post">
                        <img src="https://picsum.photos/100?random=2" alt="random pic">
                        <div class="content-article">
                            <h3>Blablabla</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati culpa, deleniti quibusdam voluptatum expedita fuga. Excepturi id adipisci quasi inventore delectus facere ex perspiciatis, numquam suscipit? In officia dolorem iure.</p>
                            <p><a href="#">Read more</a></p>
                        </div>
                    </article>
                    <article class="one-post">
                        <img src="https://picsum.photos/100?random=3" alt="random pic">
                        <div class="content-article">
                            <h3>Blablabla</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati culpa, deleniti quibusdam voluptatum expedita fuga. Excepturi id adipisci quasi inventore delectus facere ex perspiciatis, numquam suscipit? In officia dolorem iure.</p>
                            <p><a href="#">Read more</a></p>
                        </div>
                    </article>
                </div>
                <p><a href="#">Voir toutes les bières</a></p>
            </div>

            <div class="subscribe">
                <h2>Subscibe</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quisquam natus, atque omnis deserunt dicta cupiditate tempora aspernatur excepturi voluptatibus magnam eum quas? Exercitationem, ratione? Neque repudiandae dolores deleniti voluptatibus?</p>
                <form action="#" method="post">
                    <input type="text" name="subscribe" value=""><button type="submit">Send</button>
                </form>
            </div>
        </section>
{% endblock %}