<article class="one-post background">
    <img src="https://picsum.photos/100?random=1" alt="random pic">
    <div class="content-article">
        <h3>{{ post.name }}</h3>
        <p>{{ post.getExcerpt(200) }}</p>
        <p><a href="{{ post.url }}">Read more</a></p>
    </div>
</article>