<style>
	body{
		border: 20px solid #1b1b1e;
	}
	h1{
		letter-spacing: 1.5px;
	}
	a{
		color: #857555;
		text-decoration: none;
	}
	p{
		line-height: 25px;
	}
</style>
<body>
	<h1>Veuillez confirmer votre compte</h1>
	<p>Merci pour inscription, il ne reste plus qu'une étape pour profiter pleinnement de toutes les fonctions de notre site internet, il suffit de vérifier que votre adresse email correspond bien aux informations que vous nous avez envoyé.</p>
	<p>Pour ce faire, veuillez cliquer sur <a href='.$url.'>ce lien</a></p>
	<p>A très bientôt $user, sur notre site !</p>
</body>