<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ZeBrewery | {% block title %} {{ title }} {% endblock %}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
    <header>
        <div class="header-top">
            <div class="title">
                <h1><span class="span-title">Ze</span>Brewery</h1>
            </div>

            <div class="menu">
                <input type="checkbox" class="burger">
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/categories">Categories</a></li>
                        <li><a href="/posts">Posts</a></li>
                        <li><a href="/beers">Beers</a></li>
                        <li><a href="/order">Order</a></li>
                        {% if user is empty %}
                        <li><a href="/register">Register</a></li>
                        <li><a href="/connect">Connect</a></li>
                        {% else %}
                        <li><a href="/profile">Profile</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>

        <div class="header-img">
            <figure>
            <img class="banner-pic" alt="random pic">
                <figcaption>Lorem ipsum dolor sit amet consectetur adipisicing elit.</figcaption>
            </figure>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="social">
            <i class="fab fa-facebook-square"></i><i class="fab fa-twitter-square"></i><i class="fab fa-instagram"></i><i class="fab fa-pinterest-square"></i><i class="fab fa-google-plus-square"></i>
        </div>
        <p class="footer">
            © 2019 <span class="span-title">ZeBrewery</span> // All rights reserved
        </p>
        <p>by <span class="span-title">SKYMON</span></p>

    </footer>
</body>
</html>