{% extends "/layout/default.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2>{{ title }}</h2>
<section class="articles seeking">
{% for beer in beers %}
    {% include("beer/card.twig") %}
{% endfor %}
</section>
{{ paginate | raw }}
{% endblock %}
