{% extends "/layout/default.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<section class="register">
<h2>{{ title }}</h2>
<div class="login-page">
    <div class="form">
        <form class="login-form" method="POST" action="" id="formPurchase">
            <div class="form_row">
                <input type="text" name="lastname" placeholder="nom" required/>
                <input type="text" name="firstname" placeholder="prénom" required/>
            </div>
            <div class="form_row">
                <input type="text" name="address" placeholder="adresse" required/>
                <input type="text" name="zipCode" placeholder="code postal" required/>
            </div>
            <div class="form_row">
                <input type="text" name="city" placeholder="ville" required/>
                <input type="text" name="country" placeholder="pays" required/>
            </div>
            <div class="form_row">
                <input type="tel" name="phone" placeholder="téléphone" required/>
            </div>
            <div class="form_row">
                <input type="email" name="mail" placeholder="email"/>
                <input type="email" name="mailVerify" placeholder="retaper email" required/>
            </div>
            <div class="form_row">
                <input type="password" name="password" placeholder="mot de passe"/>
                <input type="password" name="passwordVerify" placeholder="retaper mot de passe" required/>
            </div>
            <button type="submit">Se connecter</button>
            <p class="message">Déjà enregistré? <a href="/register">Connectez vous!</a></p>
        </form>
    </div>
</div>

</section>

{% endblock %}